@{
	string? baseUrl = Context.Session.GetString("BaseUrl");
	baseUrl = baseUrl == null ? string.Empty : baseUrl;

	string messageInfo = ViewBag.MessageInfo;
	messageInfo = messageInfo ?? string.Empty;
}

@model Alctel.CRM.Web.Models.SlaAlertAgendaModel;

<div class="card">
	<div class="card-header">

		<div class="row">
			<div class="col-sm-12">
				@if (messageInfo != string.Empty)
				{
					@if (messageInfo.Contains("Erro"))
					{
						<div class="alert alert-danger" role="alert">
							@messageInfo
						</div>
					}
					else
					{
						<div class="alert alert-success" role="alert">
							@messageInfo
						</div>
					}
				}
			</div>

		</div>

		<div class="row">
			<div class="row">
				<div class="col-sm-6">


					<svg xmlns="http://www.w3.org/2000/svg" class="bi bi-person-lines-fill" viewBox="0 0 16 16">
						<path d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6m-5 6s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zM11 3.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5m.5 2.5a.5.5 0 0 0 0 1h4a.5.5 0 0 0 0-1zm2 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1zm0 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1z" />
					</svg>
					<label class="label-title">SLA/Alertas - Calendário</label>


				</div>

				<div class="col-sm-6">
				</div>


			</div>
		</div>

	</div>

	<div class="card-body">

		<div class="card">
			<div class="card-header">
			</div>
			<div class="card-body">
				<form method="post" action="@baseUrl/SlaAlert/AgendaCreate">

					<div class="row" style="margin-bottom:10px;">
						<div class="col-sm-6">
							<label asp-for="@Model.HolidayName"></label>
							<input class="standard-input" type="text" asp-for="@Model.HolidayName" required />
						</div>

						<div class="col-sm-6">
							<label asp-for="@Model.HolidayDate"></label>
							<input class="standard-input" type="date" asp-for="@Model.HolidayDate" />
						</div>
					</div>

					<button type="submit" class="btn btn-style">Salvar</button>
					<a class="btn btn-style" href="@baseUrl/SlaAlert/AgendaIndex">Cancelar</a>

				</form>
			</div>
		</div>

	</div>
</div>

