@{
	var itemcounter = 1;
	string? baseUrl = Context.Session.GetString("BaseUrl");
	baseUrl = baseUrl == null ? string.Empty : baseUrl;
}
@using System.Globalization
@model List<Alctel.CRM.Web.Models.SlaAlertAgendaModel>;

<div class="card">
	<div class="card-header">

		<div class="row">
			<div class="row">
				<div class="col-sm-6">


					<svg xmlns="http://www.w3.org/2000/svg" class="bi bi-person-lines-fill" viewBox="0 0 16 16">
						<path d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6m-5 6s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zM11 3.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5m.5 2.5a.5.5 0 0 0 0 1h4a.5.5 0 0 0 0-1zm2 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1zm0 3a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1z" />
					</svg>
					<label class="label-title">SLA/Alertas - Agenda</label>


				</div>

				<div class="col-sm-6">
					<a href="@baseUrl/SlaAlert/AgendaCreate">Nova</a>
				</div>


			</div>
		</div>

	</div>

	<div class="card-body table-responsive">

		<table class="table table-striped table-sm">
			<thead>
				<tr>
					<th scope="col">#</th>
					<th scope="col">Nome</th>
					<th scope="col">Data</th>
				</tr>
			</thead>
			<tbody>

				@if (Model != null && Model.Any())
				{
					@foreach (var item in Model)
					{
						<tr>
							<th scope="row">@itemcounter</th>
							<td>@item.HolidayName</td>
							<td>@item.HolidayDate.ToString("dd/MM/yyyy", new CultureInfo("pt-br"))</td>
						</tr>
						{ itemcounter = itemcounter + 1; }

					}
				}

			</tbody>
		</table>

	</div>
</div>

